.cohort-view {
    max-height: 280px;
    overflow: scroll;
    margin-bottom: 20px;
}

.saved-results-view {
    max-height: 180px;
    overflow-y: scroll;
}

hr {
    margin-top: 0px;
}

.cohort-table {
    margin-bottom: 20px;
}

.tagsinput {
    border: 1px solid #CCC;
    border-radius: 5px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

td.row-icon, th.row-icon {
    text-align: center;
}

.glyphicon-spin {
    -webkit-animation: spin 1000ms infinite linear;
    -o-animation: spin 1000ms infinite linear;
    -moz-animation: spin 1000ms infinite linear;
    animation: spin 1000ms infinite linear;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

@-o-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

@-moz-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}