.search-history h2 {
    font-weight: bold;
}

.search-history {
    width: 95%;
    align-self: center;
}

.select-display select {
    margin-left: 10px;
}

.history-window {
    background-color: #ccc;
    color: #000;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.result-window, .table-window {
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    max-height: 300px;
    overflow-y: auto;
}
.table-window {
    max-height: none;
}

.save, .view, .remove, .download {
    color: #000;
    cursor: pointer;
    font-size: 15px;
}

.view-result {
    color: #363463;
}

.submit {
    min-width: 30%;
}