ul.nav-tabs {
    display: flex;
}

ul.nav-tabs>li {
    flex-grow: 1;
    text-align: center;
}

.link {
     cursor:pointer;
     padding-left: 10px;
     color: #0000EE;
}

.link:hover {
     text-decoration:underline;
}

.nav-tabs>li>a {
    border-width: 0;
    margin: 0px;
    border: none;
    color: #363463;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -o-border-radius: 3px;
    -ms-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #dddddd));
    background: -webkit-linear-gradient(top, #ffffff, #dddddd);
    background: -moz-linear-gradient(top, #ffffff, #dddddd);
    background: -o-linear-gradient(top, #ffffff, #dddddd);
    background: -ms-linear-gradient(top, #ffffff, #dddddd);
    background: linear-gradient(top, #ffffff, #dddddd);
    background-color: #dddddd;
    border: #dddddd 1px solid;
    font-size: 15px;
}

.nav-tabs>li>a:hover {
    background: #dddddd;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover {
    background: #363463;
    color: #fff;
}

.tab-content {
    margin-top: 20px;
}

.tab-content .content {
    display: flex;
    flex-direction: column;
    width: 95%;
    margin: auto;
    font-size: 1.3em;
    font-weight: normal;
}

.tab-content .content label {
    font-weight: 400;
    margin-right: 20px;
}

.tab-content .content input {
    margin-left: 20px;
    width: 50%;
    display: inline-block
}

.tab-content .sql-component {
    width: 70%;
}

.tab-content .sql-component>.button-div {
    margin-top: 10px;
    width: 100%;
    text-align: left;
}

.tab-content .sql-component>.button-div>button {
    color: #fff;
    width: 100px;
}

.tab-content .sql-component>h2.query-warning {
    font-size: 0.8em;
    text-align: center;
}

.inline-label {
    display: block;
    float: left;
    height: 34px;
    line-height: 34px;
}

.patient-status label {
    margin-right: 20px;
    padding-left: 0;
}

.programme-component .inline-label {
    line-height: 17px;
    margin-top: 8px;
}

.encounter-component .submit-btn {
    text-align: left;
}

.result {
    padding: 30px 0px;
}

.page-display-counter {
    float: right;
}

/* Neccesary to prevent the custom react-select type dropdown to 
lay above other components*/
.Select-menu-outer {
    z-index: 3 !important;
}

.Select-control, .Select-menu-outer {
    text-align: left;
}

.bootstrap-typeahead-menu {
    width: 100%;
}

.custom-typehead {
    margin-bottom: 20px;
}
.Select-multi-value-wrapper {
    overflow: scroll;
    max-height: 85px;
}

.error {
    color: #d9534f
}