ul.nav-tabs {
    display: flex;
}

ul.nav-tabs>li {
    flex-grow: 1;
    text-align: center;
}

.nav-tabs>li>a {
    border: none;
    color: #363463;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -o-border-radius: 3px;
    -ms-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #dddddd));
    background: -webkit-linear-gradient(top, #ffffff, #dddddd);
    background: -moz-linear-gradient(top, #ffffff, #dddddd);
    background: -o-linear-gradient(top, #ffffff, #dddddd);
    background: -ms-linear-gradient(top, #ffffff, #dddddd);
    background: linear-gradient(top, #ffffff, #dddddd);
    background-color: #dddddd;
    border: #dddddd 1px solid;
}

.nav-tabs>li>a:hover {
    background: #dddddd;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover {
    background: #363463;
    color: #fff;
}

.tab-content {
    margin-top: 20px;
}

.tab-content .content {
    display: flex;
    flex-direction: column;
    width: 95%;
    margin: auto;
    font-size: 1.3em;
    font-weight: normal;
}

.tab-content .content label {
    font-weight: 400;
    margin-right: 20px;
}

.tab-content .content input {
    margin-left: 20px;
    width: 50%;
    display: inline-block
}